/* NOVUS Market
   Global application styles
*/

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
}

/* Push the footer to the bottom on short pages. */
main {
  flex: 1;
}

footer {
  padding: 10px;
}